# FOR THE API SERVER
NODE_ENV=TEST
PORT=3000
LOG_LEVEL=INFO

# ACCESS TOKEN KEY AND EXPIRATION (SHORT-LIVED)
JWT_SECRET=a-long-random-secret
JWT_EXPIRES_IN=15m

# REFRESH TOKEN KEY AND EXPIRATION (LONG-LIVED)
JWT_REFRESH_SECRET=another-different-random-secret
JWT_REFRESH_EXPIRES_IN=30d

# ARGON ENCRYPTION KEY AND SALT
ARGON_SECRET_PEEPER=one-more-random-secret
ARGON_SALT=10 # standard 10

# IF YOU NEED TO RUN A LOCAL POSTGRES, DEFINE THE VARIABLES BELOW
DATABASE_USER=cronalize_random_user_name
DATABASE_PASSWORD=cronalize-random-password
DATABASE_DB=cronalize_random_database_name
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_TZ="America/Fortaleza"

# SET THE ADDRESS AND PASSWORD FOR THE REDIS DATABASE
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=cronalize_random_redis_password
