NODE_ENV=development
PORT=3000
DATABASE_URL='postgresql://user:pass@localhost:5432/db'
REDIS_URL='redis://user:pass@localhost:6379'
JWT_SECRET='super-secret-key-123'
ARGON_SECRET_PEEPER='pepper-secret-456'
JWT_EXPIRES_IN=1h
ARGON_SALT=10
LOG_LEVEL=info